<form name="loginForm" role="form" class="form-horizontal" init="$scope.login.form = this" novalidate autocomplete="off">
    <div class="form-group row">
        <span class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <input type="email" required name="email" class="form-control" placeholder="Email" ng-model="login.email" >
        </span>
    </div>
    <div ng-show="loginForm.email.$dirty && loginForm.email.$invalid  && !loginForm.email.closed" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <alert ng-show="loginForm.email.$error.required" type="danger" close="loginForm.email.closed = true">Tell us your email.</alert>
        <alert ng-show="loginForm.email.$error.email" type="danger" close="loginForm.email.closed = true">This is not a valid email.</alert>
    </div>
    <div class="form-group row">
        <span class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <input type="password" required name="password" class="form-control" placeholder="Password" ng-model="login.password">
        </span>
    </div>
    <div ng-show="loginForm.password.$dirty && loginForm.password.$invalid  && !loginForm.password.closed" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <alert ng-show="loginForm.password.$error.required" type="danger" close="loginForm.password.closed = true">Password is required.</alert>
    </div>
    <div class="form-group row">
        <span class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <button class="btn btn-default" ng-click="loginSubmit();" ng-disabled="disabled || loginForm.email.$invalid || loginForm.password.$invalid" type="submit">Sign in</button>
        </span>
    </div>
</form>