<div ng-controller="headerCtrl">
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <button class="pull-left visible-xs navbar-toggle" ng-click="toggleSidebar.setState()" style="color:white;">
        <span class="glyphicon glyphicon-list"></span>
    </button>
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">{{ title }}</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" on-toggle="toggled(open)" >
            <button ng-disabled="disabled" class="btn btn-primary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                Sign In / Up <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ui-sref="signin" href="#/signin">Sign In</a></li>
                <li><a href>Sign up</a></li>
                <li class="divider"></li>
                <li><h4 class="navbar-text">Sign in with:</h4></li>
                <li><a href>Facebook</a></li>
                <li><a href>Twitter</a></li>
                <li><a href>Google+</a></li>
            </ul>
        </li>
        </ul>
    </div><!--/.navbar-collapse -->

  </div>
</div>
</div>